@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url('assets/fonts/HelveticaNeue-Light.woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url('assets/fonts/HelveticaNeue-Bold.woff');
}

body {
  background-color: #fff;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-family: monospace;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  overscroll-behavior: none;
}

a,
button,
input,
select {
  pointer-events: auto;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

input:focus {
  outline: none;
}

#info {
  box-sizing: border-box;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 1; /* TODO Solve this in HTML */
}

.debug {
  display: block;
}

#modal-container {
  align-items: center;
  display: flex;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#modal {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(29, 29, 27);
  width: 300px;
  z-index: 20;
}

#modal-image {
  background-image: url('https://res.cloudinary.com/desummershow/image/fetch/f_auto,q_75,w_1080/https://deshowcase.london/static/Thumbnail-noom-sirada.jpg');
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 100%;
}

#modal-body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 15px;
}

#modal-title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

#modal-author {
  color: rgb(99, 99, 94);
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

#modal-desc p {
  font-size: 14px;
  margin: 0;
}

#modal-link {
  margin: 0 auto;
}

#modal-button {
  background-color: rgb(29, 29, 27);
  border: 0;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  height: 30px;
  margin: 0;
}

#modal-button:hover {
  background-color: rgb(232, 232, 232);
  color: rgb(29, 29, 27);
  font-size: 14px;
}

#modal-button-text {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5px;
  text-transform: none;
}

#blocker {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(29, 29, 27);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  -moz-transition: background-color 1s ease-in-out;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  width: 100%;
  z-index: 10;
}

#loading-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

#loading-bulb {
  filter: invert(1);
  height: 96px;
  margin-bottom: 32px;
  width: 96px;
}

.loading-bar {
  background: rgb(181, 181, 175);
  border-radius: 5px;
  height: 10px;
  width: 200px;
}

#progress-bar {
  background: rgb(29, 29, 27);
  border: 0;
  border-radius: 5px;
  height: 100%;
  width: 0%;
}

#instructions {
  display: none;
  font-size: 14px;
  line-height: 24px;
  opacity: 1;
  text-align: center;
}

#name-screen {
  align-items: center;
  color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  line-height: 24px;
  opacity: 1;
  text-align: center;
}

#name-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-color: #9b9b9b;
  border-radius: 15px;
  border-style: none;
  border-width: 1px;
  color: #3d3d39;
  display: block;
  font-size: 14px;
  height: 28px;
  line-height: 1.42857143;
  margin-bottom: 10px;
  opacity: 0.5;
  padding: 8px 12px;
  text-align: center;
  width: 100%;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 12px 18px;
  text-transform: uppercase;
}

#notSupported {
  background-color: #f00;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  width: 50%;
}
